/* Link */
.tobi {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: block;
  text-decoration: none;
}

.tobi--zoom {
  position: relative;
}

.tobi--zoom img {
  display: block;
}

.tobi__zoom-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0437fd;
  bottom: 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1.6em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1;
  position: absolute;
  right: 0;
  width: 1.6em;
}

/* Hide scrollbars if lightbox is displayed */
.tobi--is-open {
  overflow-y: hidden;
}

/* Hide elements */
.hide {
  display: none;
}

/* Overlay */
.tobi-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1337;
}

.tobi-overlay[aria-hidden="true"] {
  display: none;
}

.tobi-overlay *,
.tobi-overlay *::before,
.tobi-overlay *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Slider */
.tobi-slider {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: -webkit-transform .3s linear;
  transition: -webkit-transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear, -webkit-transform .3s linear;
  white-space: nowrap;
}

.tobi-slide {
  display: inline-block;
  height: 100%;
  position: relative;
  width: 100%;
}

/* Figure */
.tobi-figure-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.tobi-figure-wrapper figure {
  margin: 0;
  position: relative;
}

.tobi-figure-wrapper img {
  display: block;
  height: auto;
  max-height: 85vh;
  max-width: 85vw;
  width: auto;
}

.tobi-figure-wrapper figcaption {
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  color: #fff;
  display: block;
  left: 0;
  padding-bottom: .25em;
  padding-left: .5em;
  padding-right: .5em;
  padding-top: .25em;
  position: absolute;
  white-space: pre-wrap;
  width: 100%;
}

/* Buttons */
.tobi-overlay button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: inherit;
  height: 1.6em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 1.6em;
}

.tobi-overlay button:focus {
  border: .056em solid #fff;
  outline: 0;
}

.tobi-overlay button:disabled {
  display: none;
}

.tobi-overlay button[aria-label="Previous"], .tobi-overlay button[aria-label="Next"] {
  top: 50%;
  top: calc(50% - (1.6em / 2));
}

.tobi-overlay button[aria-label="Previous"] {
  left: 1em;
}

.tobi-overlay button[aria-label="Next"] {
  right: 1em;
}

.tobi-overlay button[aria-label="Close"] {
  right: 1em;
  top: 1em;
}

/* Counter */
.tobi-counter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1.6em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 1em;
  position: absolute;
  top: 1em;
}

/* Loader */
.tobi-loader {
  display: inline-block;
  height: 5em;
  left: 50%;
  margin-left: -2.5em;
  margin-top: -2.5em;
  position: absolute;
  top: 50%;
  width: 5em;
}

.tobi-loader::before {
  -webkit-animation: spin 1s infinite;
          animation: spin 1s infinite;
  border-radius: 100%;
  border-top-color: #0437fd;
  border: .5em solid #f2f2f2;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
